<h1>Demo Form</h1>
<form method="post">
    <label>Name</label>
    <input type="text" name="Studentname" placeholder="please enter your name" required/>   <br />

    <label>Email</label>
    <input type="email" name="email" placeholder="Please Enter Your Email" />   <br />

    <label> Specialization</label>
   <select name="specialization">
       <option value="" >Select Your Specialization </option>
        <option value=".NET">ASP DOTNET </option>
        <option value="java">JAVA</option>
        <option value="database">DATABASE</option>

   </select>
  

    <button type="submit">
        Register</button>

 </form>